<h1>My Links</h1>

<form class="form">
    <input type="text" name="name" id="name" class="input" placeholder="Name">
    <input type="text" name="url" id="url" class="input" placeholder="URL">
    <input type="button" class="button fn-post-link" value="Add">
</form>
